{% extends 'base.html' %}


{% block content %}



{% include 'header.html' %}

<div class="container-fluid">

    



<h1> View Profile </h1>



<img
                  src="{{request.user.pfp.url}}"
                  class="rounded-circle"
                  height="60"
                  alt="Portrait of a Woman"
                  loading="lazy"
                />
                <br>
                <b> {{User.username}} </b>
                <br> 
                {{User.email}} 
                <br> 
                {{User.fname}}
            
                {{User.lname}}

                <a
                class="nav-link d-flex align-items-center"
               href="{% url 'user-edit' User.id %}"
                
              > Edit</a>

                <hr>



                {{User.age}}

                {{User.pronouns}}
                <br>
                {{User.phone}}
                <br>

                {{User.applicant.about}} 
            

                <a
                class="nav-link d-flex align-items-center"
               href="{% url 'applicant-edit' %}"
                
              > Edit</a>

              <hr>

<h2> Skills: </h2>

{% for Skill in Skills %}

{{Skill.name}}

{% endfor %}

<a
                class="nav-link d-flex align-items-center"
               href="{% url 'add-skill' %}"
                
              > Add</a>

              <hr>

<h2> Education: </h2>

{% for E in Edu %}

{{E.degree}} {{E.start_date}} {{E.end_date}}
<br>
{{E.inst}}
<br>

{% comment %} <!-- {% for Skill in E.skills %}

{{Skill.name}}

{% endfor %} --> {% endcomment %}


{% endfor %}

<a
                class="nav-link d-flex align-items-center"
               href="{% url 'add-edu' %}"
                
              > Add</a>


              <hr>

<h2> Experience: </h2>

{% for e in exp %}

{{e.role}} {{e.start_date}} {{e.end_date}}
<br>
{{e.company}}
<br>

{% comment %} <!-- {% for Skill in E.skills %}

{{Skill.name}}

{% endfor %} --> {% endcomment %}


{% endfor %}

<a
                class="nav-link d-flex align-items-center"
               href="{% url 'add-exp' %}"
                
              > Add</a>





              


         



</div>
{% endblock %}