{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">

    {% load static %}

    {% include 'header.html' %}



<div class="pfp-div ">

    <a
                  class="edit-btn nav-link d-flex align-items-center rounded25 eee"
                 href="{% url 'user-edit' User.id %}"
                  
                ><i class="fa-regular fa-pen-to-square"></i></a>
  
    <img
                    src="{{request.user.pfp.url}}"
                    class="rounded-circle"
                    loading="lazy"
                  />
                  <br>
  </div>
                  <div class="username">
                  <b> {{User.username}} </b>
               
                  <br> 
                  {{User.email}} 
                  <br> 
                  {{User.fname}}
              
                  {{User.lname}}
  
                  
  
              </div>
  
            </div>

<hr>

    <form method='POST'>
        {% csrf_token %}

        {{form.as_p}}

        <button type='submit' class="btn btn-primary"> Edit </button>
    </form>

    


</div>
{% endblock %}