{% extends 'base.html' %}




{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">




{% include 'header.html' %}
        
{% if user.role == 'applicant' %}
<div class="job-card">
    <div class="job-card-header">
      <div class="job-positions">{{job.position}}</div>
      <div class="job-reqs">
        <div class="flex-row">
        <div class="job-description-header">Education:</div>
        <div class="edu-req">{{job.edu_req}}</div>
        </div>
        <div class="flex-row">
        <div class="job-description-header">Experience:</div>
        <div class="exp-req">{{job.exp_req}}</div>
        </div>
        
        <div class="flex-row">
          <div class="job-description-header">GPA:</div>
          <div class="exp-req">{{job.grade_req}}</div>
        
        
      </div>
    </div>
    </div>
    <div class="job-card-body">
      <div class="org-name">{{job.Org.name}}</div>
      <div class="org-name">Pay Range: {{job.pay_range}}</div>
      <div class="job-description-header">Description:</div>
      <div class="job-description">{{job.description}}</div>
      <div class="skill-header">Skills:</div>
      <div class="skill-container">
        <div class="skill-row">
            {% for skill in skills %}

<div class="bbl rounded25 float-left eee"> {{skill.name}} </div>



{% endfor %}
        </div>
      </div>
      <div class="fake-btn rounded25 sub-sub">
        <a href="{% url 'apply' job.id %}"> Apply </a>
    </div>
    </div>
  </div>
  
  
          
          
          
          
          
          

        {% endif %}


    </div>
















</div>
{% endblock %}