{% extends 'base.html' %}




{% block content %}

{% load static %}



{% include 'header.html' %}

<div class="container-fluid">

    






{% if user.is_authenticated %}



{% else %}

<a href='{% url 'register-org' %}'> <h3> Register as Organization </h3> </a>

{% endif %}


{%if user.role == 'admin' %}

<a href="{% url 'add-recruiter' %}" > Add Recruiter </a>


{% endif %}

{% if user.role == 'applicant' %}

<div class="cont-custom">

    <div class="vertical-box rounded25">

        <div class="subheadings"> Hiring Now <i class="fa-solid fa-caret-right"></i></div>

{% for j in job %}
        <div class=" rounded25 job-cards">
            <div class="subheadings">
                {{j.position}}
            </div>
            <div class="sub-sub">{{j.Org.name}} </div>

            <div class="job-card-description"> {{j.description}}</div>
            <div class="float-right">
            <div class="fake-btn rounded25 sub-sub">
                <a href="#"> Apply </a>
            </div>
        </div>
        </div>

        {% endfor %}

    


    </div>

    <div class="vertical-box rounded25">

        <div class="subheadings"> For You! <i class="fa-solid fa-caret-right"></i></div>

        {% for j in job %}
        <div class=" rounded25 job-cards">
            <div class="subheadings">
                {{j.position}}
            </div>
            <div class="sub-sub">{{j.Org.name}} </div>

            <div class="job-card-description"> {{j.description}}</div>
            <div class="float-right">
            <div class="fake-btn rounded25 sub-sub">
                <a href="#"> Apply </a>
            </div>
        </div>
        </div>

        {% endfor %}


        
    </div>

    {% endif %}


    {% if user.role == 'recruiter' %}

    <div class=" fake-btn rounded25 align-items-center">
<a  href="{% url 'add-job' %}">
    Add Job
</a>

</div>

<div class="vertical-box rounded25">

    <div class="subheadings"> Active <i class="fa-solid fa-caret-right"></i></div>

    {% for j in job %}
        <div class=" rounded25 job-cards">
            <div class="subheadings">
                {{j.position}}
            </div>
            <div class="sub-sub">{{j.Org.name}} </div>

            <div class="job-card-description"> {{j.description}}</div>
            <div class="float-right">
            <div class="fake-btn rounded25 sub-sub">
                <a href="#"> Close </a>
            </div>
        </div>
        </div>

        {% endfor %}


</div>
    {% endif %}
   
    </div>

    


  
  
  


    {% endblock %}