{% extends 'base.html' %}




{% block content %}

{% load static %}



{% include 'header.html' %}
<div class="bubble rounded25"></div>
<div class="notifications"><p>Notifications</p></div>
<div class="nfy"><p><i class="fa-sharp fa-solid fa-exclamation"></i>There's a Notification for you?</p></div>
<div class="hyg"><p>Here you go</p></div>
<div class="Rectangle rounded25"></div>
<div class="rect2"></div>
<div class="rect3"></div>
<div class="nfy2"><p><i class="fa-sharp fa-solid fa-exclamation"></i>There's a Notification for you?</p></div>
<div class="nfy3"><p><i class="fa-sharp fa-solid fa-exclamation"></i>There's a Notification for you?</p></div>
<div class="hyg2"><p>Here you go</p></div>
<div class="hyg3"><p>Here you go</p></div>

{% endblock %}