@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.login-bg body{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5372F0;
}
::selection{
  color: #fff;
  background: #5372F0;
}
.wrapper{
  width: 380px;
  padding: 40px 30px 50px 30px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
}
.wrapper header{
  font-size: 35px;
  font-weight: 600;
}
.wrapper form{
  margin: 40px 0;
}
form .field{
  width: 100%;
  margin-bottom: 20px;
}
form .field.shake{
  animation: shake 0.3s ease-in-out;
}
@keyframes shake {
  0%, 100%{
    margin-left: 0px;
  }
  20%, 80%{
    margin-left: -12px;
  }
  40%, 60%{
    margin-left: 12px;
  }
}
form .field .input-area{
  height: 50px;
  width: 100%;
  position: relative;
}
form input{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 45px;
  font-size: 18px;
  background: none;
  caret-color: #5372F0;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  border-bottom-width: 2px;
  transition: all 0.2s ease;
}
form .field input:focus,
form .field.valid input{
  border-color: #5372F0;
}
form .field.shake input,
form .field.error input{
  border-color: #dc3545;
}
.field .input-area i{
  position: absolute;
  top: 50%;
  font-size: 18px;
  pointer-events: none;
  transform: translateY(-50%);
}
.input-area .icon{
  left: 15px;
  color: #bfbfbf;
  transition: color 0.2s ease;
}
.input-area .error-icon{
  right: 15px;
  color: #dc3545;
}
form input:focus ~ .icon,
form .field.valid .icon{
  color: #5372F0;
}
form .field.shake input:focus ~ .icon,
form .field.error input:focus ~ .icon{
  color: #bfbfbf;
}
form input::placeholder{
  color: #bfbfbf;
  font-size: 17px;
}
form .field .error-txt{
  color: #dc3545;
  text-align: left;
  margin-top: 5px;
}
form .field .error{
  display: none;
}
form .field.shake .error,
form .field.error .error{
  display: block;
}
form .pass-txt{
  text-align: left;
  margin-top: -10px;
}
.wrapper a{
  color: #5372F0;
  text-decoration: none;
}
.wrapper a:hover{
  text-decoration: underline;
}
form input[type="submit"]{
  height: 50px;
  margin-top: 30px;
  color: #fff;
  padding: 0;
  border: none;
  background: #5372F0;
  cursor: pointer;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
form input[type="submit"]:hover{
  background: #2c52ed;
}

/* 
umesh login css */

.wrapper-login {
  max-width: 350px;
  min-height: 500px;
  margin: 80px auto;
  padding: 40px 30px 30px 30px;
  background-color: #ecf0f3;
  border-radius: 15px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.wrapper-login .name {
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 1.3px;
  padding-left: 10px;
  color: #555;
}

.wrapper-login .form-field input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  background: none;
  font-size: 1.2rem;
  color: #666;
  padding: 10px 15px 10px 10px;
  /* border: 1px solid red; */
}

.wrapper-login .form-field {
  padding-left: 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper-login .form-field .fas {
  color: #555;
}

.wrapper-login .btn {
  box-shadow: none;
  width: 100%;
  height: 40px;
  background-color: #03A9F4;
  color: #fff;
  border-radius: 25px;
  box-shadow: 3px 3px 3px #b1b1b1,
      -3px -3px 3px #fff;
  letter-spacing: 1.3px;
}

.wrapper-login .btn:hover {
  background-color: #039BE5;
}

.wrapper-login a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #03A9F4;
}

.wrapper-login a:hover {
  color: #039BE5;
}

@media(max-width: 380px) {
  .wrapper-login {
      margin: 30px 20px;
      padding: 40px 15px 15px 15px;
  }
}


.logo-in {
  width: 80px;
  margin: auto;
}

.logo-in img {
  width: 100%;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #5f5f5f,
      0px 0px 0px 5px #ecf0f3,
      8px 8px 15px #a7aaa7,
      -8px -8px 15px #fff;
}

/* 
meet css */


.rounded25{
  border-radius: 25px;
}

.search{
  font-size: 35px;
  font-family: 'Poppins';
  mix-blend-mode: darken;
  font-size: 34px;
  /* width: 606px;
  height: 74px; */
  background-color: #0000;
  border-width: 0px;
  padding-right: 5px;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}

.icon {

  font-size: 34px;
  margin-right: 10px ;
  

}

.search-icon{


font-size: 34px;
 width : 55px;
/* height : 74px;  */
background-color: transparent;
border-width: 0px;
mix-blend-mode: darken;



}

.logo{
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: relative;
  
}

.dropdown ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.menu-trigger {
  cursor: pointer;
}

.menu-trigger:hover + ul {
  display: block;
  transition-delay: 0.2s;
}

.dropdown li {
  list-style: none;
  transform: translateX(-100px);
}

.dropdown li a {
  display: block;
  padding: 10px;
}

.menu-trigger:checked + label + .dropdown-menu {
  display: block;
}

.subheadings{
  font-family: 'Poppins', sans-serif;
font-size: 30px;
padding-bottom: -10px;
}

.sub-sub{
  font-family: 'Poppins';
  font-size:25px;
}

.job-card-description {
  white-space: nowrap;
  overflow: hidden;
 
}

.vertical-box {
  background-color: #f1ffff;
  padding-top: 10px;
  margin-left: 20px;
  padding-left: 10px;
  margin-right: 20px;
  padding-right: 10px;
  margin-top: 50px;
  padding-bottom: 20px;
  float: left;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* enables smooth scrolling on mobile devices */
  -ms-overflow-style: none; /* hides scrollbar on IE and Edge */
  scrollbar-width: none; /* hides scrollbar on Firefox */
}

.vertical-box::-webkit-scrollbar {
  display: none; /* hides scrollbar on Chrome and Safari */
}

@media screen and (max-width: 768px) {
  .vertical-box {
    width: 100%;
    height: auto;
    margin: 20px 0;
    padding: 10px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.job-cards {
  height: 242px;
  width: 387px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  display: inline-block;
  background-color: #eeeeee;
  white-space: normal;
}

.fake-btn{
  background-color: #0046C8;
  width:100px;
  height:40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;


}

.fake-btn a{
  color: white !important;
  text-decoration: none !important;;
}


/* Hide the scrollbar */




.bdy{
  background-color: #ffffff;
}


/* view profile page */



.pfp-div img {
  border: 2px solid #0046C8; /* Sets the border style and color */
  border-radius: 50%; /* Makes the border circular */
  width: 100px; /* Sets the width of the image */
  height: 100px; /* Sets the height of the image */
  object-fit: cover;
  display: block;
  margin: 0 auto;
   /* Ensures the image fills the container without distortion */
 
}

.username b{
  margin-top: 0px;
  font-size: 40px;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-transform: uppercase;
}

.username{

  text-align: center;
  display: block;
  margin: 0 auto;
}
 /* Saaras code */
.bubble{
  background-color: rgba(241, 255, 255, 1);
  width: 1338px;
  height: 748px;
}
.notifications{
  position: absolute;
width: 207px;
height: 53px;
left: 94px;
top: 228px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 52px;
}
.Rectangle{
position: absolute;
width: 1252px;
height: 150px;
left: 94px;
top: 307px;

background: #EEEEEE;
mix-blend-mode: multiply;
border-radius: 25px;
}
.nfy{
  position: absolute;
left: 10.00%;
right: 89.7%;
top: 34.38%;
bottom: 60.5%;

position: absolute;
width: 453px;
height: 45px;
left: 195px;
top: 337px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;

color: #000000;

}
.hyg{
position: absolute;
width: 151px;
height: 38px;
left: 198px;
top: 378px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 38px;
/* identical to box height */

.profile-bbl{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  position: relative;
  padding-bottom:20px;
  
}

.f1ff{
  background-color: #f1ffff;
}

.eee{
  background-color: #eeeeee;
}


.edit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .edit-btn {
    position: static;
    display: block;
    text-align: right;
    margin-top: 10px;
    padding-right: 10px;
  }
}

.bbl{
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #faedca;
  width: fit-content;
  display: inline-block;

}

.bbl-lg {
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #faedca;

}

@media (max-width: 768px) {
  .bbl-lg {
    float: none; /* remove the float for smaller screens */
    margin: 10px auto; /* center the element horizontally */
    width: 90%; /* make the element full width on smaller screens */
  }
}

.fl{
  text-align: right ;

}

color: rgba(0, 0, 0, 0.5);

}
.rect2{
  position: absolute;
width: 1252px;
height: 150px;
left: 93px;
top: 483px;

background: #EEEEEE;
mix-blend-mode: multiply;
border-radius: 25px;
}
.nfy2{
position: absolute;
width: 453px;
height: 45px;
left: 194px;
top: 513px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;


color: #000000;
}
.hyg2{
position: absolute;
width: 151px;
height: 38px;
left: 197px;
top: 554px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 38px;



color: rgba(0, 0, 0, 0.5);
}
.rect3{
  position: absolute;
width: 1252px;
height: 150px;
left: 94px;
top: 668px;

background: #EEEEEE;
mix-blend-mode: multiply;
border-radius: 25px;
}
.nfy3{
position: absolute;
width: 453px;
height: 45px;
left: 195px;
top: 698px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 45px;



color: #000000;

}
.hyg3{
  position: absolute;
width: 151px;
height: 38px;
left: 198px;
top: 739px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 38px;
/* identical to box height */


color: rgba(0, 0, 0, 0.5);

}

